h1,
h2,
h3,
h4,
h5,
p,
a,
li,
span,
label,
input,
button {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: $marineBlue;
}

p {
  color: $coolGray;
  line-height: 1.5rem;
}

label {
  font-size: 0.9rem;
  color: $marineBlue;
  font-weight: 400;
}

button {
  columns: $white;
}

.stepsNum + div span {
  font-weight: 300;
  color: $white;
  font-size: 0.8rem;
}

.stepsNum + div h2 {
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
}
